<div class="row">

	<div aria-label="yacht_count" class="col-md-4">
		<div class="dbox dbox--color-3">
			<div class="dbox__body">
						<span class="dbox__count">
							{{ dashboardModel?.yacht_count }}
						</span>
				<span class="dbox__title">
							{{ 'STATISTICS.yacht_count' | translate | titlecase }}
						</span>
			</div>
		</div>
	</div>

	<div aria-label="water_sport_count" class="col-md-4">
		<div class="dbox dbox--color-2">
			<div class="dbox__body">
						<span class="dbox__count">
							{{ dashboardModel?.water_sport_count }}
						</span>
				<span class="dbox__title">
							{{ 'STATISTICS.water_sport_count' | translate | titlecase }}
						</span>
			</div>
		</div>
	</div>

	<div aria-label="yacht_reserved_trips_count" class="col-md-4">
		<div class="dbox dbox--color-3">
			<div class="dbox__body">
						<span class="dbox__count">
							{{ dashboardModel?.yacht_reserved_trips_count }}
						</span>
				<span class="dbox__title">
							{{ 'STATISTICS.yacht_reserved_trips_count' | translate | titlecase }}
						</span>
			</div>
		</div>
	</div>

</div>


<div class="row">

	<div aria-label="yacht_confirmed_trips_count" class="col-md-4">
		<div class="dbox dbox--color-2">
			<div class="dbox__body">
						<span class="dbox__count">
							{{ dashboardModel?.yacht_confirmed_trips_count }}
						</span>
				<span class="dbox__title">
							{{ 'STATISTICS.yacht_confirmed_trips_count' | translate | titlecase }}
						</span>
			</div>
		</div>
	</div>

	<div aria-label="water_sport_reserved_trips" class="col-md-4">
		<div class="dbox dbox--color-3">
			<div class="dbox__body">
						<span class="dbox__count">
							{{ dashboardModel?.water_sport_reserved_trips }}
						</span>
				<span class="dbox__title">
							{{ 'STATISTICS.water_sport_reserved_trips' | translate | titlecase }}
						</span>
			</div>
		</div>
	</div>

	<div aria-label="water_sport_confirmed_trips" class="col-md-4">
		<div class="dbox dbox--color-2">
			<div class="dbox__body">
						<span class="dbox__count">
							{{ dashboardModel?.water_sport_confirmed_trips }}
						</span>
				<span class="dbox__title">
							{{ 'STATISTICS.water_sport_confirmed_trips' | translate | titlecase }}
						</span>
			</div>
		</div>
	</div>

</div>
