<div class="form-div">

	<form class="p-3" [formGroup]="form" autocomplete="off">

		<mat-vertical-stepper #stepper (selectionChange)="stepChanged($event, stepper);">
			<mat-step>
				<form [formGroup]="form">
					<ng-template matStepLabel>
						{{ 'Components.YACHTS_RESERVATION.customer_information' | translate | titlecase }}
					</ng-template>

					<kt-customer-information-form [form]="form"
												  [countries]="countries"
												  [enumsModel]="enumsModel"></kt-customer-information-form>
				</form>
			</mat-step>
			<mat-step>
				<form [formGroup]="form">
					<ng-template matStepLabel>
						{{ 'Components.YACHTS_RESERVATION.trip_information' | translate | titlecase }}
					</ng-template>

<!--					<kt-technical-form [form]="form"-->
<!--									   [enumsModel]="enumsModel"></kt-technical-form>-->
				</form>
			</mat-step>

		</mat-vertical-stepper>

	</form>

</div>
