<div class="form-div">

	<form class="p-3" [formGroup]="form" autocomplete="off">

		<div class="row">
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'COMMON.name_ar' | translate"
					[form_control_name]="'name_ar'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'COMMON.name_en' | translate"
					[form_control_name]="'name_en'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<kt-form-textarea
					[form]="form"
					[label]="'COMMON.description_ar' | translate"
					[form_control_name]="'description_ar'"
					[validation_type]="'required'">
				</kt-form-textarea>
			</div>
			<div class="col-md-6">
				<kt-form-textarea
					[form]="form"
					[label]="'COMMON.description_en' | translate"
					[form_control_name]="'description_en'"
					[validation_type]="'required'">
				</kt-form-textarea>
			</div>
		</div>

		<div class="row">

			<div class="col-md-6">
				<mat-form-field class="w-100">
					<mat-label>
						{{ 'Components.SEO.columns.keywords_ar' | translate }}
					</mat-label>
					<mat-chip-list #chipList>
						<mat-chip *ngFor="let keyword of keywords_ar"
								  [selectable]="true"
								  [removable]="true"
								  (removed)="remove(keyword, true)">
							{{keyword}}
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<input
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							[matChipInputAddOnBlur]="true"
							(matChipInputTokenEnd)="add($event, true)"
							placeholder="{{ 'Components.SEO.columns.keywords_ar' | translate }}"
							[matChipInputFor]="chipList">
					</mat-chip-list>
				</mat-form-field>
			</div>

			<div class="col-md-6">
				<mat-form-field class="w-100">
					<mat-label>
						{{ 'Components.SEO.columns.keywords_en' | translate }}
					</mat-label>
					<mat-chip-list #chipList2>
						<mat-chip *ngFor="let keyword of keywords_en"
								  [selectable]="true"
								  [removable]="true"
								  (removed)="remove(keyword)">
							{{keyword}}
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<input
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							[matChipInputAddOnBlur]="true"
							(matChipInputTokenEnd)="add($event)"
							placeholder="{{ 'Components.SEO.columns.keywords_en' | translate }}"
							[matChipInputFor]="chipList2">
					</mat-chip-list>
				</mat-form-field>
			</div>

		</div>

		<div class="row">
			<div class="col-12">
				<kt-form-input
					[form]="form"
					[label]="'Components.SEO.columns.url' | translate"
					[form_control_name]="'url'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
		</div>


	</form>

</div>
