<div [formGroup]="form">

	<div class="row" aria-label="water_slider, safety_equipment, soft_drinks_refreshments, swimming_equipment">
		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.water_slider' | translate"
				[form_control_name]="'water_slider'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>

		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.safety_equipment' | translate"
				[form_control_name]="'safety_equipment'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>

		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.soft_drinks_refreshments' | translate"
				[form_control_name]="'soft_drinks_refreshments'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>

		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.swimming_equipment' | translate"
				[form_control_name]="'swimming_equipment'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>
	</div>

	<div class="row" aria-label="ice_tea_water, DVD_player, satellite_system, red_carpet_on_arrival">
		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.ice_tea_water' | translate"
				[form_control_name]="'ice_tea_water'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>

		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.DVD_player' | translate"
				[form_control_name]="'DVD_player'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>

		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.satellite_system' | translate"
				[form_control_name]="'satellite_system'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>

		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.red_carpet_on_arrival' | translate"
				[form_control_name]="'red_carpet_on_arrival'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>
	</div>

	<div class="row" aria-label="spacious_saloon, BBQ_grill_equipment, fresh_towels, yacht_slippers">
		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.spacious_saloon' | translate"
				[form_control_name]="'spacious_saloon'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>

		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.BBQ_grill_equipment' | translate"
				[form_control_name]="'BBQ_grill_equipment'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>

		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.fresh_towels' | translate"
				[form_control_name]="'fresh_towels'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>

		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.yacht_slippers' | translate"
				[form_control_name]="'yacht_slippers'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>
	</div>

	<div class="row" aria-label="bathroom_amenities, under_water_light, LED_screen_tv, sunbathing_on_the_foredeck">
		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.bathroom_amenities' | translate"
				[form_control_name]="'bathroom_amenities'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>

		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.under_water_light' | translate"
				[form_control_name]="'under_water_light'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>

		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.LED_screen_tv' | translate"
				[form_control_name]="'LED_screen_tv'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>

		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.sunbathing_on_the_foredeck' | translate"
				[form_control_name]="'sunbathing_on_the_foredeck'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>
	</div>

	<div class="row" aria-label="fishing_equipment">
		<div class="col-md-3 col-6">
			<kt-form-checkbox
				[form]="form"
				[label]="'Components.YACHTS.columns.key_features.fishing_equipment' | translate"
				[form_control_name]="'fishing_equipment'"
				[validation_type]="'required'">
			</kt-form-checkbox>
		</div>
	</div>
	
</div>
