<div [formGroup]="form">

	<div class="row" aria-label="water_sport_descriptions">
		<div class="col-md-6">
			<kt-form-richtext
				[form]="form"
				[label]="'Components.WATER_SPORTS.columns.basic_information.description_en' | translate"
				[form_control_name]="'water_sport_description_en'"
				[validation_type]="'required'">
			</kt-form-richtext>
		</div>
		<div class="col-md-6">
			<kt-form-richtext
				[form]="form"
				[label]="'Components.WATER_SPORTS.columns.basic_information.description_ar' | translate"
				[form_control_name]="'water_sport_descriptions_ar'"
				[validation_type]="'required'">
			</kt-form-richtext>
		</div>
	</div>

	<div class="row" aria-label="routes">
		<div class="col-md-6">
			<kt-form-richtext
				[form]="form"
				[label]="'Components.WATER_SPORTS.columns.basic_information.routes_en' | translate"
				[form_control_name]="'routes_en'"
				[validation_type]="'required'">
			</kt-form-richtext>
		</div>
		<div class="col-md-6">
			<kt-form-richtext
				[form]="form"
				[label]="'Components.WATER_SPORTS.columns.basic_information.routes_ar' | translate"
				[form_control_name]="'routes_ar'"
				[validation_type]="'required'">
			</kt-form-richtext>
		</div>
	</div>

	<div class="row" aria-label="what_expect_description">
		<div class="col-md-6">
			<kt-form-richtext
				[form]="form"
				[label]="'Components.WATER_SPORTS.columns.basic_information.what_expect_description_en' | translate"
				[form_control_name]="'what_expect_description_en'"
				[validation_type]="'required'">
			</kt-form-richtext>
		</div>
		<div class="col-md-6">
			<kt-form-richtext
				[form]="form"
				[label]="'Components.WATER_SPORTS.columns.basic_information.what_expect_description_ar' | translate"
				[form_control_name]="'what_expect_description_ar'"
				[validation_type]="'required'">
			</kt-form-richtext>
		</div>
	</div>

	<div class="row" aria-label="location">
		<div class="col-md-6">
			<kt-form-richtext
				[form]="form"
				[label]="'Components.WATER_SPORTS.columns.basic_information.location_en' | translate"
				[form_control_name]="'location_en'"
				[validation_type]="'required'">
			</kt-form-richtext>
		</div>
		<div class="col-md-6">
			<kt-form-richtext
				[form]="form"
				[label]="'Components.WATER_SPORTS.columns.basic_information.location_ar' | translate"
				[form_control_name]="'location_ar'"
				[validation_type]="'required'">
			</kt-form-richtext>
		</div>
	</div>

</div>
