<kt-portlet-header [title]="page_name"
				   [icon]="pageIcon()"></kt-portlet-header>

<kt-filter [ButtonAddName]="'COMMON.Add_Button' | translate: {name : content_name}"
		   [ButtonAddUrl]="add_route"
		   [HasAdd]="true"
		   [isLoadingResults]="isLoadingResults"
		   [currentComponent] = "this"
		   [HasItemPerPage]="true"
		   [HasActive]="false"
		   [HasSearchFilter]="true"
		   [HasExport]="false"
		   [headerParams]="headerParams"
		   [currentService]="service"
></kt-filter>

<kt-api-loader [isLoadingResults]="isLoadingResults"></kt-api-loader>


<!--DataTable-->
<div class="example-container" [hidden]="isLoadingResults">
	<kt-auth-notice></kt-auth-notice>
	<div class="example-table-container">

		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>
			<!-- ID Column -->
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'COMMON.id' | translate }}
				</th>
				<td mat-cell *matCellDef="let element"> {{element.id}} </td>
			</ng-container>

			<!-- name Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'COMMON.name' | translate }}
				</th>
				<td mat-cell *matCellDef="let element"> {{ displayContent(element.name) }} </td>
			</ng-container>

			<!-- image Column -->
			<ng-container matColumnDef="image">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'Components.image' | translate }}
				</th>
				<td mat-cell *matCellDef="let element">
					<img class="img-thumbnail"
						 src="{{element.image }}" style="width: 100%">
				</td>
			</ng-container>

			<ng-container matColumnDef="selling_per_hour">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'Components.price' | translate }}
				</th>
				<td mat-cell *matCellDef="let element"> {{ element.selling_per_hour }} </td>
			</ng-container>

			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'Components.YACHTS.columns.basic_information.status' | translate }}
				</th>
				<td mat-cell *matCellDef="let element"> {{ element.status }} </td>
			</ng-container>


			<!-- options Column -->
			<ng-container matColumnDef="options">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'Components.options' | translate }}
				</th>
				<td mat-cell *matCellDef="let element" width="20%">
					<kt-list-options
						[currentService]="service"
						[element]="element"
						[enabled_change_status]="false"
						[currentComponent]="this"
						[headerParams]="headerParams"
						[content_name]="content_name"
					></kt-list-options>

				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;" class="record-{{row.id}}"></tr>
		</table>

		<kt-no-record-found [resultsLength]="resultsLength"></kt-no-record-found>

		<!--Table-->
		<mat-paginator
			[length]="resultsLength"
			[pageIndex]="pageIndex"
			[pageSize]="headerParams.per_page"
			(page)="pagination($event)"
		></mat-paginator>
	</div>

</div>

