<div class="row" [formGroup]="form">

	<div class="col-12" aria-label="yachts">
		<div class="my-3 w-100">
			<div aria-label="select-box" class="w-100">
				<mat-form-field appearance="fill" class="w-100">
					<mat-label>
						{{ 'Components.YACHTS.name' | translate | titlecase }}
					</mat-label>
					<mat-select formControlName="yacht_id">
						<mat-option *ngFor="let yacht of yachts" [value]="yacht.id">
							{{ yacht.yacht_name | titlecase }} |
							{{ 'COMMON.AED' | translate | uppercase  }}
							{{  yacht.selling_per_hour }} |
							{{ 'COMMON.min' | translate | titlecase  }}
							{{ yacht.minimum_hours_booking }}
							{{ 'COMMON.hrs' | translate | titlecase  }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<kt-form-error [form]="form"
						   [controlName]="'yacht_id'"
						   [validationType]="'required'"
						   [controlText]="'Components.YACHTS.name' | translate ">
			</kt-form-error>
		</div>
	</div>

	<div class="col-12" aria-label="start date & time">
		<div class="row">
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'Components.YACHTS_RESERVATION.columns.start_date' | translate"
					[form_control_name]="'start_date'"
					[type]="'date'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
			<div class="col-md-6">
				<div class="my-3 w-100">
					<div aria-label="select-box" class="w-100">
						<mat-form-field appearance="fill" class="w-100">
							<mat-label>
								{{ 'Components.YACHTS_RESERVATION.columns.start_hour' | translate | titlecase }}
							</mat-label>
							<mat-select formControlName="start_hour">
								<mat-option *ngFor="let timeSlot of start_timeSlots"
											[disabled]="checkDate(timeSlot)"
											[value]="timeSlot.time">
									{{ timeSlot.label | uppercase }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<kt-form-error [form]="form"
								   [controlName]="'start_hour'"
								   [validationType]="'required'"
								   [controlText]="'Components.YACHTS_RESERVATION.columns.start_hour' | translate ">
					</kt-form-error>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12" aria-label="end date & time">
		<div class="row">
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'Components.YACHTS_RESERVATION.columns.end_date' | translate"
					[form_control_name]="'end_date'"
					[type]="'date'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
			<div class="col-md-6">
				<div class="my-3 w-100">
					<div aria-label="select-box" class="w-100">
						<mat-form-field appearance="fill" class="w-100">
							<mat-label>
								{{ 'Components.YACHTS_RESERVATION.columns.end_hour' | translate | titlecase }}
							</mat-label>
							<mat-select formControlName="end_hour">
								<mat-option *ngFor="let timeSlot of end_timeSlots"
											[value]="timeSlot.time">
									{{ timeSlot.label | uppercase }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<kt-form-error [form]="form"
								   [controlName]="'end_hour'"
								   [validationType]="'required'"
								   [controlText]="'Components.YACHTS_RESERVATION.columns.end_hour' | translate ">
					</kt-form-error>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12" aria-label="trip_duration, coupon_code">
		<div class="row">
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'Components.YACHTS_RESERVATION.columns.trip_duration' | translate"
					[form_control_name]="'trip_duration'"
					[type]="'number'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'Components.YACHTS_RESERVATION.columns.coupon_code' | translate"
					[form_control_name]="'coupon_code'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
		</div>
	</div>

	<div class="col-12" aria-label="number_of_people, rate_per_hour">
		<div class="row">
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'Components.YACHTS_RESERVATION.columns.number_of_people' | translate"
					[form_control_name]="'number_of_people'"
					[type]="'number'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'Components.YACHTS_RESERVATION.columns.rate_per_hour' | translate"
					[form_control_name]="'rate_per_hour'"
					[type]="'number'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
		</div>
	</div>

	<div class="col-12" aria-label="other_charges, discount">
		<div class="row" >
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'Components.YACHTS_RESERVATION.columns.other_charges' | translate"
					[form_control_name]="'other_charges'"
					[type]="'number'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'Components.YACHTS_RESERVATION.columns.discount' | translate"
					[form_control_name]="'discount'"
					[type]="'number'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
		</div>
	</div>

	<div class="col-12" aria-label="minimum_Advance_Payment, total_price">
		<div class="row" >
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'Components.YACHTS_RESERVATION.columns.minimum_Advance_Payment' | translate"
					[form_control_name]="'minimum_Advance_Payment'"
					[type]="'number'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'Components.YACHTS_RESERVATION.columns.total_price' | translate"
					[form_control_name]="'total_price'"
					[type]="'number'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
		</div>
	</div>

	<div class="col-12" aria-label="paid_amount">
		<div class="row" >
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'Components.YACHTS_RESERVATION.columns.paid_amount' | translate"
					[form_control_name]="'paid_amount'"
					[type]="'number'">
				</kt-form-input>
			</div>
		</div>
	</div>

	<div class="col-12" aria-label="payment_method, status">
		<div class="row" >
			<div class="col-md-6">
				<div class="my-3 w-100">
					<div aria-label="select-box" class="w-100">
						<mat-form-field appearance="fill" class="w-100">
							<mat-label>
								{{ 'Components.YACHTS_RESERVATION.columns.payment_method' | translate | titlecase }}
							</mat-label>
							<mat-select formControlName="payment_method">
								<mat-option *ngFor="let item of enumsModel.payment_methods" [value]="item.value">
									{{ item.key.replace('_', ' ') | titlecase }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<kt-form-error [form]="form"
								   [controlName]="'payment_method'"
								   [validationType]="'required'"
								   [controlText]="'Components.YACHTS_RESERVATION.columns.payment_method' | translate ">
					</kt-form-error>
				</div>
			</div>
			<div class="col-md-6">
				<div class="my-3 w-100">
					<div aria-label="select-box" class="w-100">
						<mat-form-field appearance="fill" class="w-100">
							<mat-label>
								{{ 'Components.YACHTS_RESERVATION.columns.status' | translate | titlecase }}
							</mat-label>
							<mat-select formControlName="status">
								<mat-option *ngFor="let item of enumsModel.trip_status" [value]="item.value">
									{{ item.key.replace('_', ' ') | titlecase }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<kt-form-error [form]="form"
								   [controlName]="'status'"
								   [validationType]="'required'"
								   [controlText]="'Components.YACHTS_RESERVATION.columns.status' | translate ">
					</kt-form-error>
				</div>
			</div>
		</div>
	</div>

</div>
