<div class="form-div">

	<form class="p-3" [formGroup]="form" autocomplete="off">

		<div class="row">
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'COMMON.name' | translate"
					[form_control_name]="'name'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'COMMON.email' | translate"
					[form_control_name]="'email'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<kt-form-input
					[form]="form"
					[label]="'COMMON.password' | translate"
					[type]="'password'"
					[form_control_name]="'password'"
					[validation_type]="'required'">
				</kt-form-input>
			</div>
			<div class="col-md-6">
				<kt-form-select
					[form]="form"
					[is_multi]="true"
					[list]="permissions"
					[label]="'Components.ROLES.columns.permissions' | translate"
					[form_control_name]="'permissions'"
					[validation_type]="'required'">
				</kt-form-select>
			</div>
		</div>


		<div class="row">
			<div class="col-12">
				<kt-form-radio-group
					[form]="form"
					[label]="'COMMON.activation' | translate"
					[form_control_name]="'is_active'"
					[default]="false"
					[first_choice]="'COMMON.active' | translate"
					[second_choice]="'COMMON.in_active' | translate"
					[validation_type]="'required'">
				</kt-form-radio-group>
			</div>
		</div>

	</form>

</div>
