<div class="mb-4 w-100">

	<div class="mb-4">
		<label *ngIf="!multiple" class="d-block mb-4">{{label}}</label>
		<label class="btn btn-outline-dark">
			{{ 'Components.Gallery.change_image' | translate }}
			<i class="flaticon2-image-file mx-2"></i>
			<input type="file"
				   [multiple]="multiple"
				   (change)="onFileSelect($event)"
				   accept="image/*" hidden/>
		</label>
		<kt-form-error *ngIf="validation_type"
					   [form]="form"
					   [controlName]="form_control_name"
					   [validationType]="validation_type"
					   [controlText]="label">
		</kt-form-error>
	</div>

	<div class="mb-4" *ngIf="!multiple">
		<div *ngIf="imgURL && !multiple" class="uploaded-preview my-4">
			<div>
				<img src="{{ imgURL }}" alt="" class="w-100 h-100">
			</div>
		</div>
	</div>

	<div *ngIf="multiple">
		<div aria-label="images" class="row" >
			<div class="col-md-6" *ngFor="let image of image_urls">
				<button class="btn btn-danger my-3" (click)="deleteModal(image)">
					{{ 'Components.Gallery.delete_image' | translate }}
				</button>
				<img [src]="image.image ? image.image : image" class="w-100" style="height: 400px">
			</div>
		</div>
	</div>

</div>
