<div class="mb-4 w-100">
	<label *ngIf="!multiple" class="d-block mb-4">{{label}}</label>
	<label class="btn btn-outline-dark w-100">
		{{ 'Components.Gallery.change_image' | translate }} <i class="flaticon2-image-file mx-2"></i>
		<input type="file"
			   [multiple]="multiple"
			   (change)="onFileSelect($event)"
			   accept="image/*" hidden/>
	</label>
	<kt-form-error *ngIf="validation_type"
				   [form]="form"
				   [controlName]="form_control_name"
				   [validationType]="validation_type"
				   [controlText]="label"
	></kt-form-error>

	<div *ngIf="imgURL && !multiple" class="uploaded-preview my-4">
		<div>
			<img src="{{ imgURL }}" alt="" class="w-100 h-100">
		</div>
	</div>
</div>
