<kt-portlet-header [title]="'MENU.DASHBOARD' | translate">
	<section ktPortletTools>
		<kt-toggle-live [dashboardModel]="dashboardModel"></kt-toggle-live>
	</section>
</kt-portlet-header>

<!--Loader-->
<div class="example-container m-auto" *ngIf="isLoadingResults">
	<div class="example-loading-shade mt-5 mb-5">
		<mat-spinner diameter="50" *ngIf="isLoadingResults"></mat-spinner>
	</div>
</div>

<div class="example-container">
	<div [hidden]="isLoadingResults" class="mt-3">
		<kt-boxes [dashboardModel]="dashboardModel"></kt-boxes>
	</div>
</div>
