<div [formGroup]="form">

	<div class="row" aria-label="title, name">
		<div class="col-md-6" aria-label="title">
			<div class="my-3 w-100">
				<div aria-label="select-box">
					<mat-form-field appearance="fill" class="w-100">
						<mat-label> {{ 'Components.YACHTS_RESERVATION.columns.title' | translate | titlecase }}</mat-label>
						<mat-select formControlName="title">
							<mat-option [value]="0">
								{{ 'Components.YACHTS_RESERVATION.columns.mr' | translate | titlecase }}
							</mat-option>
							<mat-option [value]="1">
								{{ 'Components.YACHTS_RESERVATION.columns.mrs' | translate | titlecase }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<kt-form-error [form]="form"
							   [controlName]="'title'"
							   [validationType]="'required'"
							   [controlText]="'Components.YACHTS_RESERVATION.columns.title' | translate "
				></kt-form-error>
			</div>
		</div>

		<div class="col-md-6">
			<kt-form-input
				[form]="form"
				[label]="'COMMON.name' | translate"
				[form_control_name]="'name'"
				[validation_type]="'required'">
			</kt-form-input>
		</div>

	</div>

	<div class="row" aria-label="address, phone">
		<div class="col-md-6">
			<label class="w-100 mb-2">
				{{ 'Components.YACHTS_RESERVATION.columns.phone' | translate | titlecase }}
			</label>
			<ngx-intl-tel-input
				[cssClass]="'custom-select'"
				[preferredCountries]="[CountryISO.Egypt, CountryISO.UnitedArabEmirates]"
				[enableAutoCountrySelect]="false"
				[enablePlaceholder]="true"
				[searchCountryFlag]="true"
				[searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
				[selectFirstCountry]="false"
				[selectedCountryISO]="CountryISO.Egypt"
				[separateDialCode]='true'
				[maxLength]="15"
				[phoneValidation]="true"
				formControlName="phone">
			</ngx-intl-tel-input>

			<mat-error *ngIf="isControlHasError('phone', 'required')" class="my-3">
				<strong>{{ 'VALIDATION.REQUIRED' | translate:
					{name : 'Components.YACHTS_RESERVATION.columns.phone' | translate}  | titlecase}}</strong>
			</mat-error>
		</div>

		<div class="col-md-6">
			<kt-form-input
				[form]="form"
				[label]="'Components.YACHTS_RESERVATION.columns.address' | translate"
				[form_control_name]="'address'"
				[validation_type]="'required'">
			</kt-form-input>
		</div>
	</div>

	<div class="row" aria-label="email, country">

		<div class="col-md-6">
			<kt-form-input
				[form]="form"
				[label]="'Components.YACHTS_RESERVATION.columns.email' | translate"
				[form_control_name]="'email'"
				[type]="'email'"
				[validation_type]="'required'">
			</kt-form-input>
		</div>

		<div class="col-md-6">
			<kt-form-select
				[form]="form"
				[list]="countries"
				[label]="'Components.YACHTS_RESERVATION.columns.country' | translate"
				[form_control_name]="'country_id'"
				[validation_type]="'required'">
			</kt-form-select>
		</div>
	</div>

</div>
