<kt-portlet-header [title]="page_name"
				   [icon]="pageIcon()"></kt-portlet-header>

<kt-filter [ButtonAddName]="'COMMON.Add_Button' | translate: {name : content_name}"
		   [ButtonAddUrl]="add_route"
		   [HasAdd]="true"
		   [isLoadingResults]="isLoadingResults"
		   [currentComponent]="this"
		   [HasItemPerPage]="true"
		   [HasActive]="false"
		   [HasSearchFilter]="false"
		   [HasExport]="false"
		   [headerParams]="headerParams"
		   [currentService]="service">
	<kt-filters (filterEvent)="filterEvent($event)"></kt-filters>
</kt-filter>

<kt-api-loader [isLoadingResults]="isLoadingResults"></kt-api-loader>


<!--DataTable-->
<div class="example-container" [hidden]="isLoadingResults">
	<kt-auth-notice></kt-auth-notice>
	<div class="example-table-container mat-elevation-z8">

		<table mat-table [dataSource]="dataSource" class="w-100" matSort>
			<!-- ID Column -->
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'COMMON.id' | translate }}
				</th>
				<td mat-cell *matCellDef="let element"> {{element.id}} </td>
			</ng-container>

			<ng-container matColumnDef="booking_number">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'Components.WATER_SPORTS_RESERVATION.columns.booking_number' | translate | titlecase }}
				</th>
				<td mat-cell *matCellDef="let element"> {{ element.booking_number }} </td>
			</ng-container>

			<!-- yacht Column -->
			<ng-container matColumnDef="water_sport">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'Components.WATER_SPORTS.single' | translate | titlecase }}
				</th>
				<td mat-cell *matCellDef="let element"> {{ element.water_sport }} </td>
			</ng-container>

			<!-- customer Column -->
			<ng-container matColumnDef="customer">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'Components.WATER_SPORTS_RESERVATION.customer_information' | translate | titlecase }}
				</th>
				<td mat-cell *matCellDef="let element"> {{ element.customer }} </td>
			</ng-container>

			<ng-container matColumnDef="trip_date_time">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'Components.WATER_SPORTS_RESERVATION.trip_date_time' | translate | titlecase }}
				</th>
				<td mat-cell *matCellDef="let element"> {{ element.trip_date_time }} </td>
			</ng-container>

			<ng-container matColumnDef="total_price">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'Components.WATER_SPORTS_RESERVATION.columns.total_price' | translate | titlecase }}
				</th>
				<td mat-cell *matCellDef="let element"> {{ element.total_price }} </td>
			</ng-container>

			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'Components.YACHTS.columns.basic_information.status' | translate }}
				</th>
				<td mat-cell *matCellDef="let element"> {{ element.status }} </td>
			</ng-container>

			<!-- options Column -->
			<ng-container matColumnDef="options">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					{{ 'Components.options' | translate }}
				</th>
				<td mat-cell *matCellDef="let element">
					<kt-list-options
						[currentService]="service"
						[element]="element"
						[enabled_change_status]="false"
						[currentComponent]="this"
						[headerParams]="headerParams"
						[content_name]="content_name">
						<!--send-voucher-->
						<div class="col-12 my-2 dropdown-option" send_voucher>
							<button class="btn w-100 btn-outline-warning"
									(click)="sendVoucher(element.booking_number)">

								<span>{{ 'COMMON.send_voucher' | translate }} </span>

								<i class="fas fa-envelope-open-text"></i>
							</button>
						</div>
					</kt-list-options>

				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;" class="record-{{row.id}}"></tr>
		</table>

		<kt-no-record-found [resultsLength]="resultsLength"></kt-no-record-found>

		<!--Table-->
		<mat-paginator
			[length]="resultsLength"
			[pageIndex]="pageIndex"
			[pageSize]="headerParams.per_page"
			(page)="pagination($event)"
		></mat-paginator>
	</div>

</div>

